@using VEHTRA.Models
@model List<RandevuHareket>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<table id="tbl1" class="table table-bordered" style="margin-top:20px;">
    <thead>
        <tr>

            <th>#</th>
            <th>Araç</th>
            <th>Personel</th>
            <th>Tarih</th>
            <th>Adres</th>
            <th>Güncelle</th>
            <th>Detaylar</th>



        </tr>
    </thead>

    @foreach (var p in Model)
    {

        <tr>
            <th> @p.RandevuId </th>
            <td> @p.Araba.Marka </td>
            <td> @p.Personel.FullName</td>
            <td>@p.Tarih</td>
            <td>@p.Adres</td>
          

            <td><a href="/Randevu/RandevuGetir/@p.RandevuId" class="btn btn-warning">Güncelle</a></td>
            <td><a href="/Randevu/RandevuDetay/@p.RandevuId" class="btn  btn-primary">Detaylar</a></td>


        </tr>
    }
</table>
<a href="/Randevu/YeniRandevu/" class="btn btn-dark">Randevu Ekle</a>

@*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />

<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />

<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>

<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<script>

    $('#tbl1').dataTable({});

</script>


