@model VEHTRA.Models.RandevuHareket
@{
    ViewBag.Title = "YeniRandevu";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Randevu Ekranı </h2>
<br />
<form class="form-group" method="post">
    @Html.LabelFor(x => x.Araba)
    @Html.DropDownListFor(x => x.ArabaId, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })
    <br />
    @Html.Label("Personel")
    @Html.DropDownListFor(x => x.PersonelId, (List<SelectListItem>)ViewBag.dgr3, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Adres)
    @Html.TextBoxFor(x => x.Adres, new { @class = "form-control" })
    <br />
   

    <button class="btn btn-success">Kaydet</button>
</form>


